<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet.css') }}">
	</head>
<body>

<h1>Edit Restaurant</h1>

<form action ="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}" method = 'POST'>

	{% with messages = get_flashed_messages() %}
	{% if messages %}

		<ul>
		{% for message in messages %}
			<li><strong> {{ message }} </strong></li>
		{% endfor %}
		</ul>
	{% endif %}

		{% endwith %}

</br>
<div class= 'pane'>
<input type= "text" size= 30 name="name" placeholder= "{{restaurant.name}}">

<input type = "submit" value="Update">

<a href= "{{url_for('viewRestaurants')}}" >Cancel</a>
</div>
</form>

</body>
</html>