<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>

<h1>New Menu Item</h1>

<form action ="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" method = 'POST'>

{% with messages = get_flashed_messages() %}
	{% if messages %}

		<ul>
		{% for message in messages %}
			<li><strong> {{ message }} </strong></li>
		{% endfor %}
		</ul>
	{% endif %}

		{% endwith %}

</br>
<div class= 'pane'>
<input type= "text" size= 30 name="name" placeholder= "name">
</br>
</br>
<input type= "text" size= 30 name="course" placeholder= "course">
</br>
</br>
<input type= "text" size= 30 name="description" placeholder= "description">
</br>
</br>
<input type= "text" size= 30 name="price" placeholder= "price">
</br>
</br>
<input type = "submit" value="Create">
</br>
</br>
<a href= "{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}" >Cancel</a>
</div>
</form>

</body>
</html>